.movieWrapper {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  margin-top:20rem;
}

.moviePlayer {
  position: absolute;
  width: 100%;
  height: 100%;
}

.description {margin-top:20rem;}
.description li {
  position: relative;
  font-size: 16rem;
  padding-left: 9rem;
  line-height: 20rem;
  margin-top:6rem;
}
.description > li + li {
  margin-top:20rem;
}

.description li:before {
  display: inline-block;
  position: absolute;
  content: "";
  width: 3rem;
  top: 9rem;
  left: 0;
  border-bottom: 3rem solid var(--textColor);
  border-radius: 50%;
  color:inherit;
}
.description li a {
  color: var(--linkColor);
  cursor: pointer;
  text-decoration: underline;
  position: relative;
  top: -1rem;
  margin: 0 2rem;
}
.description li strong {font-weight:bold;}

.description .subList li {
  position: relative;
  padding-left: 10rem;
  word-break: keep-all;
  margin-top:12rem;
}
.description .subList li:before {
  display: inline-block;
  position: absolute;
  content: "";
  width: 4rem;
  border-bottom: 1rem solid var(--textColor);
  top: 10rem;
  left: 0;
}

.description .subListDetail {
  margin-top:15rem;
  margin-left:15rem;
}

.description .subListDetail + .subListDetail {margin-top: 30rem;}
.description .subListDetail .detailTitle {
  margin-bottom: 15rem;
}

